@model TwoEntites.Entities.Worker
<div>
    <dl>
        <dd>
            Id
        </dd>
        <dt>
            @Model.Id
        </dt>
        <dd>
            Name
        </dd>
        <dt>
            @Model.FirstName
        </dt>
        <dd>
            SurName
        </dd>
        <dt>
            @Model.LastName
        </dt>
        <dd>
            Age
        </dd>
        <dt>
            @Model.Age
        </dt>
        <dd>
            Email
        </dd>
        <dt>
            @Model.Email
        </dt>   
        <dd>
           Department Name
        </dd>
        <dt>
            @Model.Department.Name
        </dt>
    </dl>
</div>
