@model MVCE_commerce.DTO.StockProductResponseModels
<div>
    <dl>
        <dd>
            s/n
        </dd>
        <dt>
            @Model.Data.Id
        </dt>
        <dd>
            Id
        </dd>
        <dt>
            @Model.Data.StockProductNo
        </dt>
        <dd>
            Name
        </dd>
        <dt>
            @Model.Data.ProductName
        </dt>
        <dd>
            ProductNo
        </dd>
        <dt>
            @Model.Data.ProductNo
        </dt>
        <dd>
            Quantity
        </dd>
        <dt>
            @Model.Data.Quantity
        </dt>
        <dd>
            Unit Price
        </dd>
        <dt>
            @Model.Data.UnitPrice
        </dt>
        <dd>
            CostPrice
        </dd>
        <dt>
            @Model.Data.CostPrice
        </dt>
        <dd>
            StockId
        </dd>
        <dt>
            @Model.Data.StockId
        </dt>
    </dl>
</div>