@model WebApplication3.DTOs.Student.StudentDtO
<div>
    <dl>
        <dd>
            Id:
        </dd>
        <dt>
            @Model.Id
        </dt>
        <dd>
            Name:
        </dd>
        <dt>
            @Model.Name
        </dt>
        <dd>
            DepartmentName
        </dd>
        <dt>
            @Model.DepartmentName
        </dt>
        <dd>
            Age:
        </dd>
        <dt>
            @Model.Age
        </dt>
        <dd>
            Email:
        </dd>
        <dt>
            @Model.Email
        </dt>
       
       
    </dl>
</div>
