<div>
    @model IEnumerable<WebApplication3.DTOs.Student.StudentDtO>
    <div>
        @if(Model == null)
        {
            <p>No Student in the list</p>
        }
        else
        {
            <table class="table">
                <thread>
                    <tr>
                        <th>

                            Id


                        </th>
                        <th>

                            Name


                        </th>
                        <th>
                            Detail

                        </th>
                        <th>
                            Update

                        </th>
                        <th>
                            Delete

                        </th>
                       
                    </tr>
                </thread>
                <tbody>
                @foreach (var  g in Model)
                 {
                    <tr>
                        <th>
                            @g.Id
                        </th>
                        <th>
                            @g.Name
                        </th>
                        <th>
                            <a asp-action="GetDetails" asp-route-id="@g.StudentId">View</a>
                        </th>
                        <th>
                            <a asp-action="Edit" asp-route-id="@g.StudentId">Update</a>
                        </th>
                        <th>
                            <a asp-action="Delete" asp-route-id="@g.StudentId">Delete</a>
                        </th>
                        
                    </tr>
                     
                 }
        
                </tbody>
            </table>
        }
       
    </div>
</div>
<div>
    <a asp-action="Create">Add new student</a>
</div>
